<div class="container w-50 p-5 my-5 border rounded-3">
    @if (errorMessage) {
        <p class="error">
            {{ errorMessage }}
        </p>
    }

    <form [formGroup]="form" (ngSubmit)="login()">
        <h2>Login Form</h2>

        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter email"
                   name="email">
        </div>

        @if (form.controls['email'].touched && form.controls['email'].invalid) {
            @if (form.controls['email'].errors?.['required']) {
                <p class="error">
                    Email is required!
                </p>
            }

            @if (form.controls['email'].errors?.['email']) {
                <p class="error">
                    Email is not valid!
                </p>
            }
        }


        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input formControlName="password" type="password" class="form-control" id="password"
                   placeholder="Enter password" name="password">
        </div>

        @if (form.controls['password'].touched && form.controls['password'].invalid) {
            @if (form.controls['password'].errors?.['required']) {
                <p class="error">
                    Password is required!
                </p>
            }

            @if (form.controls['password'].errors?.['minlength']) {
                <p class="error">
                    Password must be at least 5 characters!
                </p>
            }
        }

        <button type="submit" class="btn btn-primary my-2" [disabled]="form.invalid">Login</button>

        <p class="text-center">
            Don't have an account?
            <a routerLink="/register">Register</a>
        </p>
    </form>
</div>
