<div class="container w-50 p-5 my-5 border rounded-3">
    @if (errorMessage) {
        <p class="error">
            {{ errorMessage }}
        </p>
    }

    <form [formGroup]="form" (ngSubmit)="register()">
        <h2>Register Form</h2>

        <div class="mb-3 mt-3">
            <label for="username" class="form-label">Username:</label>
            <input
                formControlName="username" type="text"
                [class.input-error]="form.controls['username'].touched && form.controls['username'].invalid"
                class="form-control" id="username" placeholder="Enter username" name="username"
            >
        </div>

        @if (form.controls['username'].touched && form.controls['username'].invalid) {
            @if (form.controls['username'].errors?.['required']) {
                <p class="error">
                    Username is required!
                </p>
            }

            @if (form.controls['username'].errors?.['minlength']) {
                <p class="error">
                    Username must be at least 5 characters!
                </p>
            }
        }

        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter email"
                   name="email">
        </div>

        @if (form.controls['email'].touched && form.controls['email'].invalid) {
            @if (form.controls['email'].errors?.['required']) {
                <p class="error">
                    Email is required!
                </p>
            }

            @if (form.controls['email'].errors?.['email']) {
                <p class="error">
                    Email is not valid!
                </p>
            }
        }

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input formControlName="password" type="password" class="form-control" id="password"
                   placeholder="Enter password" name="password">
        </div>

        @if (form.controls['password'].touched && form.controls['password'].invalid) {
            @if (form.controls['password'].errors?.['required']) {
                <p class="error">
                    Password is required!
                </p>
            }

            @if (form.controls['password'].errors?.['minlength']) {
                <p class="error">
                    Password must be at least 5 characters!
                </p>
            }
        }

        <div class="mb-3">
            <label for="repass" class="form-label">Repeat Password:</label>
            <input formControlName="confirmPassword" type="password" class="form-control" id="repass"
                   placeholder="Repeat password" name="repass">
        </div>

        @if (form.controls['confirmPassword'].touched && form.controls['confirmPassword'].errors?.['passwordMismatch']) {
            <p class="error">Repeat Password does not match password!</p>
        }

        <button [disabled]="form.invalid" type="submit" class="btn btn-primary my-2">Create Account</button>

        <p class="text-center">
            Have an account?
            <a routerLink="/login">Log In</a>
        </p>
    </form>
</div>
